body {
    font-family: Georgia, serif;
    text-align: center;
    color: rgb(225, 225, 255);
    background-color: rgba(10, 10, 25, 0.9);
    margin: 0;
    padding: 0;
}

.header-section {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background color */
    padding: 20px; /* Add some padding */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* White border on the bottom */
}

/* style the container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style each link */
.links-container a {
    color: rgb(225, 225, 255);
    text-decoration: none;
    padding: 10px 10px;
    font-style: normal;
    transition: all 0.5s ease;
}

/* style for links when hovered over */
.links-container a:hover {
    font-style: italic;
    background-color: rgb(225, 225, 255);
    color: rgba(10, 10, 25, 0.9);;
    border-radius: 5px;
    padding: 10px 20px;
}

.links-container a + a {
    margin-left: 20px;
}