body {
    font-family: Georgia, serif;
    text-align: center;
    color: rgb(225, 225, 255);
    background-color: rgba(10, 10, 25, 0.9);
    margin: 0;
    padding: 0;
}

.title-container {
    padding: 1em 0; 
}

.title-container h1 {
    font-size: 3em;
}

/* style the container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style each link */
.links-container a {
    color: rgb(225, 225, 255);
    text-decoration: none;
    padding: 10px 10px;
    font-style: normal;
    transition: all 0.5s ease;
}

/* style for links when hovered over */
.links-container a:hover {
    font-style: italic;
    background-color: rgb(225, 225, 255);
    color: rgba(10, 10, 25, 0.9);;
    border-radius: 5px;
    padding: 10px 20px;
}

.links-container a + a {
    margin-left: 20px;
}