body {
    font-family: Georgia, serif;
    text-align: center;
    color: rgb(225, 225, 255);
    background-color: rgba(10, 10, 25, 0.9);
    margin: 0;
    padding: 0;
}

.header-section {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background color */
    padding: 20px; /* Add some padding */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* White border on the bottom */
}

/* style the container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style each link */
.links-container a {
    color: rgb(225, 225, 255);
    text-decoration: none;
    padding: 10px 10px;
    font-style: normal;
    transition: all 0.5s ease;
}

/* style for links when hovered over */
.links-container a:hover {
    font-style: italic;
    background-color: rgb(225, 225, 255);
    color: rgba(10, 10, 25, 0.9);;
    border-radius: 5px;
    padding: 10px 20px;
}

.links-container a + a {
    margin-left: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
    justify-items: center;
    margin-top: 1em;
}

.project-card {
    background-color: rgba(10, 10, 25, 0.9);
    color: rgb(225, 225, 255);
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
    cursor: pointer;
    transition: transform 0.35s ease;
    position: relative;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card img {
    width: 100%;
    height: 400px; /* Fixed height for all images */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
}

.project-title {
    font-size: 1.5em;
    padding: 0.15em
}

.project-description {
    display: none;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.project-card:hover .project-description {
    display: none;
}
