body {
    font-family: Georgia, serif;
    text-align: center;
    color: rgb(225, 225, 255);
    background-color: rgba(10, 10, 25, 0.9);
    margin: 0;
    padding: 0;
}

body h1 {
    font-size: 2em;
}

body a{
    font-style: italic;
    text-decoration: none;
    color: rgb(225, 225, 255);
}

.full-width-image img {
    width: 100%;
    height: auto;
}

.header-section {
    background-color: rgba(0, 0, 0, 0.9); /* Darker background color */
    padding: 20px; /* Add some padding */
    border-bottom: 2px solid rgba(255, 255, 255, 0.5); /* White border on the bottom */
}

.header-section a:hover{
    font-style: italic;
    text-decoration: underline;
    color: rgb(225, 225, 255);
}

.section {
    padding-left: 4em;
    padding-right: 4em;
}

.section h1{
    font-size: 2.5em;
    padding-top: 0.5em;
}

.section p {
    font-size: 1.15em;
    margin: 2em;
    line-height: 1.5; /* Increase line spacing */
    text-align: justify; /* Justify text */
}

.section ul, .section li {
    font-size: 1.05em;
    margin: 0.5em;
    line-height: 1.5;
    text-align: justify;
}

/* Style for <li> elements */
.section li {
    margin-bottom: em; /* Add some bottom margin between list items */
}

/* Apply code styling to code-like text within list items */
.section .code {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(80, 80, 120, 1);
    padding: 0.25em;
    border-radius: 5px;
}

.section .tweet {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(80, 80, 120, 1);
    padding: 0.25em;
    border-radius: 5px;
}

.section .tweet-toggle {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(80, 80, 120, 1);
    padding: 0.25em;
    border-radius: 5px;
    cursor: pointer;
}

.section .tweet-text {
    display: none;
}

.section .tweet:hover + .tweet-text {
    display: block;
}

/* Apply styles to the table */
.table-container table {
    width: 100%; /* Make the table fill its container */
    border-collapse: collapse; /* Collapse borders between cells */
}

/* Apply styles to table headers */
.table-container th {
    background-color: rgb(225, 225, 255);; /* Light gray background color */
    color: rgba(10, 10, 25, 0.9);
    padding: 0.5em; /* Add padding around the header text */
    border: 1px solid #ddd; /* Add a border to separate headers */
    text-align: center; /* Center-align header text */
}

/* Apply styles to table cells */
.table-container td {
    padding: 0.5em; /* Add padding around the cell content */
    border: 1px solid #ddd; /* Add a border to separate cells */
    text-align: left; /* Left-align cell content */
}

/* Apply styles to table cells with superscript */
.table-container td sup {
    vertical-align: super; /* Align superscript vertically */
    font-size: smaller; /* Adjust font size for superscript */
}


/* style the container */
.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

/* style each link */
.links-container a {
    color: rgb(225, 225, 255);
    text-decoration: none;
    padding: 10px 10px;
    font-style: normal;
    transition: all 0.5s ease;
}

/* style for links when hovered over */
.links-container a:hover {
    font-style: italic;
    text-decoration: none;
    background-color: rgb(225, 225, 255);
    color: rgba(10, 10, 25, 0.9);;
    border-radius: 5px;
    padding: 10px 20px;
}

.links-container a + a {
    margin-left: 20px;
}